<mat-card style="margin-bottom: 8px">
  <div
    #textContent
    class="text-content"
    [class.truncate]="!showFullText"
    [style.max-height]="showFullText ? scrollHeight + 'px' : maxHeight + 'px'"
    (resize)="checkContentHeight()"
  >
    <p (click)="toggleText($event)">
      <a [href]="imageUrl()" target="_blank">
        <img
          *ngIf="imageUrl()"
          style="max-height: 50px; max-width: 50px; float: right; margin: 4px"
          [src]="imageUrl()"
        />
      </a>

      {{
        (showFullDate ? event.day + '/' + event.month + '/' : '') + event.year
      }}
      - <span [innerHTML]="transform(event.title)"></span>
      <button
        *ngIf="recencyType"
        (click)="showRecencyInfo()"
        style="
          background: none;
          border: none;
          cursor: pointer;
          vertical-align: middle;
          margin-right: 4px;
          color: orange;
          font-size: 1.2em;
        "
        title="{{ recencyTooltip }}"
      >
        ✨
      </button>
      <a
        *ngIf="remult.authenticated()"
        href="#"
        style="font-weight: bold"
        (click)="edit(); $event.preventDefault()"
      >
        ערוך</a
      >
      <a
        *ngIf="remult.authenticated()"
        (click)="whatsapp(); $event.preventDefault()"
        style="font-weight: bold"
        target="_blank"
      >
        whatsapp</a
      >
    </p>

    <p
      style="white-space: break-spaces"
      (click)="toggleText($event)"
      [innerHTML]="transform(event.description)"
    ></p>
    <img
      *ngIf="imageUrl()"
      style="margin: 4px; display: block"
      [src]="imageUrl()"
    />
    <ng-container *ngFor="let s of sources(); let i = index">
      <a [href]="s" target="_blank"> {{ i + 1 }}</a>
      |
    </ng-container>
    <a href="https://chat.openai.com/?q={{ aiSearchText() }}" target="_blank"
      >Chat Gpt</a
    >
    |
    <a href="https://www.perplexity.ai/?q={{ aiSearchText() }}" target="_blank"
      >perplexity</a
    >
  </div>
  <a
    href="#"
    *ngIf="shouldShowReadMore"
    (click)="toggleText($event)"
    style="width: 100%; display: block; text-align: left"
    >{{ showFullText ? 'פחות' : 'עוד' }}...</a
  >
</mat-card>
