<mat-card style="margin-bottom: 8px">
  <div
    #textContent
    class="text-content"
    [class.truncate]="!showFullText"
    [style.max-height]="showFullText ? scrollHeight + 'px' : maxHeight + 'px'"
    (resize)="checkContentHeight()"
  >
    <p (click)="toggleText($event)">
      {{
        (showFullDate ? event.day + '/' + event.month + '/' : '') + event.year
      }}
      - {{ event.title }}
      <a
        *ngIf="remult.authenticated()"
        href="#"
        style="font-weight: bold"
        (click)="edit(); $event.preventDefault()"
      >
        ערוך</a
      >
      <a
        *ngIf="remult.authenticated()"
        (click)="whatsapp(); $event.preventDefault()"
        style="font-weight: bold"
        target="_blank"
      >
        whatsapp</a
      >
    </p>
    <p (click)="toggleText($event)">{{ event.description }}</p>
  </div>
  <a
    href="#"
    *ngIf="shouldShowReadMore"
    (click)="toggleText($event)"
    style="width: 100%; display: block; text-align: left"
    >{{ showFullText ? 'פחות' : 'עוד' }}...</a
  >
</mat-card>
