<div class="full-page">
  <mat-card style="margin-bottom: 4px">
    <button
      *ngIf="allowed()"
      mat-raised-button
      color="primary"
      (click)="addEvent()"
    >
      הוסף
    </button>
    <data-area [settings]="area"></data-area>
  </mat-card>
  <div class="grow-item">
    <app-show-item
      *ngFor="let e of events$ | async"
      [event]="e"
      [showFullDate]="!!searchString.search || search.day == 0"
    ></app-show-item>

    <a
      *ngIf="search.day && search.month"
      [href]="
        'https://he.wikipedia.org/wiki/' +
        search.day +
        '_' +
        [
          'בינואר',
          'בפברואר',
          'במרץ',
          'באפריל',
          'במאי',
          'ביוני',
          'ביולי',
          'באוגוסט',
          'בספטמבר',
          'באוקטובר',
          'בנובמבר',
          'בדצמבר'
        ][search.month - 1]
      "
      target="_blank"
      >ויקיפדיה בעברית
    </a>
    |
    <a
      *ngIf="search.day && search.month"
      target="_blank"
      [href]="
        'https://www.history.com/this-day-in-history/day/' +
        [
          'january',
          'february',
          'match',
          'april',
          'may',
          'june',
          'july',
          'august',
          'september',
          'october',
          'november',
          'december'
        ][search.month - 1] +
        '-' +
        search.day
      "
      >ערוץ ההיסטוריה
    </a>
  </div>
</div>
